Repository ansible-community/ara: changes, and which Zuul jobs are due for each by the changed paths.
All: ara-tox-docs, ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ara-tox-docs:
  parent: base
  nodeset: ara-fedora-41
  run: tests/zuul_docs.yaml

ara-integration-base:
  parent: base
  vars:
    ara_api_source: '{{ ansible_user_dir }}/src/github.com/ansible-community/ara'
    ara_tests_ansible_name: '{{ ansible_user_dir }}/src/github.com/ansible/ansible'
    ara_tests_ansible_version: null
    ara_api_secure_logging: false
  post-run: tests/zuul_post_logs.yaml

ara-integration-container-base:
  parent: ara-integration-base
  nodeset: ara-fedora-41

ara-container-images:
  parent: ara-integration-container-base
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    '
  run: tests/with_container_images.yaml

ara-container-images-dockerhub:
  parent: ara-integration-container-base
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    The resulting images are pushed to docker.io/recordsansible/ara-api if successful.
  
    '
  pre-run: tests/with_container_images.yaml
  ...

ara-container-images-quayio:
  parent: ara-integration-container-base
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    The resulting images are pushed to quay.io/recordsansible/ara-api if successful.
  
    '
  pre-run: tests/with_container_images.yaml
  ...

ara-ansible-integration-base:
  parent: ara-integration-base
  nodeset: ara-basic-nodeset
  vars:
    ara_api_source: '{{ ansible_user_dir }}/src/github.com/ansible-community/ara'
  run: tests/basic.yaml

ara-basic-ansible-core-devel:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core devel.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: devel

ara-basic-ansible-11:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible 11 (ansible-core 2.18).
  
    '
  vars:
    ara_tests_ansible_name: ansible
    ara_tests_ansible_version: 11.2.0

ara-basic-ansible-core-2.17:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core 2.17.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.17

ara-basic-ansible-core-2.18:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core 2.18.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.18

ansible-role-ara-web-ubuntu:
  parent: ansible-role-ara-web-base
  nodeset: ubuntu-bionic

ansible-role-ara-web-fedora:
  parent: ansible-role-ara-web-base
  nodeset: ara-fedora-30

ansible-role-ara-api-ubuntu:
  parent: ansible-role-ara-api-base
  nodeset: ubuntu-bionic

tests: fix new jinja expression requirement
  tests/integration/facts.yaml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

container-images: bump to fedora-43
  contrib/container-images/README.rst
  contrib/container-images/centos-source.sh
  contrib/container-images/fedora-distribution.sh
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
  tests/with_container_images.yaml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tests: Use fedora to run the container image tests
  .forgejo/workflows/tests.yaml
Due: none

UI: Prevent UI from flashing on reloads using light theme
  ara/ui/templates/base.html
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

UI: Display a file tree instead of a file list
  ara/ui/static/css/ara.css
  ara/ui/templates/partials/filetree_node.html
  ara/ui/templates/partials/playbook_files.html
  ara/ui/templatetags/filetree.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

UI: Align the max-height of the file tree
  ara/ui/templates/partials/playbook_files.html
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

UI: tweak host facts table column sizes
  ara/ui/templates/partials/tables/host_facts.html
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

UI: Redesign playbook header & align hosts, files, records
  ara/ui/static/css/ara.css
  ara/ui/templates/partials/playbook_card.html
  ara/ui/templates/partials/playbook_details.html
  ara/ui/templates/partials/playbook_files.html
  ara/ui/templates/partials/playbook_records.html
  ara/ui/templates/partials/tables/playbook_hosts.html
  ara/ui/templates/playbook.html
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

UI: Align host facts section color with the rest
  ara/ui/static/css/ara.css
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tests: fetch all tags when checking out the repo
  .forgejo/workflows/tests.yaml
Due: none

client: Include the http error code when a failure occurs
  ara/clients/http.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tox: pipe user and controller name environment variables down
  tox.ini
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18

models: uuidfield compatibility between mariadb and django 5.x
  ara/api/migrations/0018_alter_play_uuid_alter_task_uuid.py
  ara/api/models.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tests: allow testing of custom user/controller names
  tests/integration/lookups.yaml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

about: Update tag line and include link to Mastodon
  ara/ui/templates/partials/about_modal.html
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: update readthedocs.io URLs to docs.ansible.com equivalents
  README.md
  doc/source/ansible-plugins-and-use-cases.rst
  doc/source/faq.rst
  tests/container_test_tasks.yaml
Due: ara-tox-docs, ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

models: scope uuidfield compatibility to mysql
  ara/api/models.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

feature: Bubble up deprecations, exceptions and warnings
  ara/api/migrations/0019_task_deprecations_exceptions_warnings.py
  ara/api/models.py
  ara/api/serializers.py
  ara/api/tests/tests_task.py
  ara/plugins/callback/ara_default.py
  ara/ui/static/css/ara.css
  ara/ui/templates/host.html
  ara/ui/templates/partials/tables/host_results.html
  ara/ui/templates/partials/tables/playbook_results.html
  ara/ui/templates/partials/tables/tasks.html
  ara/ui/templates/partials/task_notes.html
  ara/ui/templates/partials/tooltips.html
  ara/ui/templates/playbook.html
  ara/ui/templates/task_index.html
  ara/ui/templatetags/exception_escape.py
  tests/basic.yaml
  tests/integration/notes.yaml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Feature: Add filtering on deprecations/exceptions/warnings
  ara/api/filters.py
  ara/api/models.py
  ara/api/tests/tests_task.py
  ara/cli/task.py
  ara/ui/templates/partials/search/tasks.html
  ara/ui/templates/partials/tables/tasks.html
  ara/ui/templates/partials/task_notes.html
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: Add release notes for 1.7.5
  doc/source/changelog-release-notes.rst
Due: ara-tox-docs

tests: Exclude env vars when testing ignored facts
  contrib/mcp/fixtures/result.txt
  tests/integration/ignored_facts.yaml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tests: rename _task variable for ansible-core 2.21
  tests/integration/lookups.yaml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

api, ui: serve the playbook list in a constant number of queries
  ara/api/models.py
  ara/api/tests/tests_playbook.py
  ara/api/views.py
  ara/ui/tests/__init__.py
  ara/ui/tests/tests_index.py
  ara/ui/views.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

api: serve the play and task lists in a constant number of queries
  ara/api/models.py
  ara/api/tests/tests_play.py
  ara/api/tests/tests_task.py
  ara/api/views.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

api: let ItemCountSerializer use annotated relationship counts
  ara/api/serializers.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

api: index status and the started/updated timestamps for hot query paths
  ara/api/migrations/0020_add_status_and_timestamp_indexes.py
  ara/api/models.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

api: let the filterset own status filtering, drop redundant status__in
  ara/api/views.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

api: stop the status filter from forcing DISTINCT and unindexable lookups
  ara/api/filters.py
  ara/api/tests/tests_result.py
  ara/api/tests/tests_task.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Fix task pagination on the hosts page
  ara/ui/views.py
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

containers: Use multi-threading for gunicorn processes
  contrib/container-images/alma-pypi.sh
  contrib/container-images/alma-source.sh
  contrib/container-images/fedora-distribution.sh
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
Due: ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio

containers: Bump from Fedora 43 to 44
  contrib/container-images/README.rst
  contrib/container-images/fedora-ci-image.sh
  contrib/container-images/fedora-distribution.sh
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
  tests/with_container_images.yaml
  tests/zuul_publish_container_images.yaml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

containers: Bump CentOS9 to Alma10
  contrib/container-images/README.rst
  contrib/container-images/alma-pypi.sh
  contrib/container-images/alma-source.sh
  tests/with_container_images.yaml
  tests/zuul_publish_container_images.yaml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

packaging: Bump django to >=5.2, python >=3.10
  ara/plugins/action/ara_label.py
  ara/plugins/action/ara_playbook.py
  ara/plugins/action/ara_record.py
  pyproject.toml
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

containers: Add missing diff package to the CI image
  contrib/container-images/fedora-ci-image.sh
Due: ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio

grafana: add a dashboard, generator and validator for the exporter's metrics
  contrib/grafana/README.rst
  contrib/grafana/_generate_dashboard.py
  contrib/grafana/_validate_dashboard.py
  contrib/grafana/ara-dashboard.json
  doc/source/_static/grafana-part-one.png
  doc/source/_static/grafana-part-two.png
Due: ara-tox-docs

prometheus: add an exporter for ansible metrics by ara
  ara/cli/prometheus.py
  ara/cli/tests/__init__.py
  ara/cli/tests/tests_prometheus.py
  contrib/prometheus/README.rst
  contrib/prometheus/ara-alerts.yml
  contrib/prometheus/prometheus.yml
  doc/source/_static/grafana-part-one.png
  doc/source/_static/grafana-part-two.png
  doc/source/cli.rst
  doc/source/index.rst
  doc/source/prometheus.rst
  pyproject.toml
Due: ara-tox-docs, ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tests: Actually run prometheus tests and grafana validation
  test-requirements.txt
  tests/linters.sh
  tox.ini
Due: ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

meta: Add unobtrusive links to support the project
  README.md
  ara/ui/static/images/ara.png
  ara/ui/templates/partials/about_modal.html
  doc/source/contributing.rst
Due: ara-tox-docs, ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Feature: Support regex-prefixed ignored_files patterns in callback
  ara/plugins/callback/ara_default.py
  doc/source/ansible-plugins-and-use-cases.rst
  tests/basic.yaml
  tests/integration/ignored_files.yaml
  tests/integration/ignored_regex_file.yaml
  tests/test_tasks.yaml
Due: ara-tox-docs, ara-integration-base, ara-integration-container-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-11, ara-basic-ansible-core-2.17, ara-basic-ansible-core-2.18, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: Minor updates
  README.md
  contrib/mcp/README.rst
  doc/source/prometheus.rst
Due: ara-tox-docs

Path conditions:
  ara-tox-docs: any of: doc/*
  ara-integration-base: any of: ara/*, manage.py, requirements.txt, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-integration-container-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*, contrib/container-images/*
  ara-container-images: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*, contrib/container-images/*
  ara-container-images-dockerhub: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*, contrib/container-images/*
  ara-container-images-quayio: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*, contrib/container-images/*
  ara-ansible-integration-base: any of: ara/*, manage.py, requirements.txt, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-devel: any of: ara/*, manage.py, requirements.txt, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-11: any of: ara/*, manage.py, requirements.txt, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.17: any of: ara/*, manage.py, requirements.txt, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.18: any of: ara/*, manage.py, requirements.txt, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ansible-role-ara-web-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-api-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
