Repository ansible-community/ara: changes, and which Zuul jobs are due for each by the changed paths.
All: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Path conditions:
  ara-tox-docs: any of: doc/*
  ara-integration-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images-dockerhub: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images-quayio: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-ansible-integration-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-devel: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-6: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.13: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.12: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.11: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-2.9: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ansible-role-ara-web-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-api-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt

support logging on Python 3.13 fixed #546
  ara/api/management/commands/prune.py
  ara/cli/host.py
  ara/cli/playbook.py
  ara/cli/record.py
  ara/cli/result.py
  ara/plugins/callback/ara_default.py
  ara/server/wsgi.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

setup.cfg: make ruamel.yaml dependency explicit
  setup.cfg
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Docs: Add introduction, say what ARA does
  doc/source/index.rst
  doc/source/introduction.rst
Due: ara-tox-docs

docs: add .readthedocs.yaml configuration
  .readthedocs.yaml
Due: none

docs: make readthedocs use ubuntu 22.04
  .readthedocs.yaml
Due: none

Fix some typos
  ara/api/models.py
  ara/plugins/callback/ara_default.py
  doc/source/api-configuration.rst
  doc/source/cli.rst
Due: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: update requirements to include ara
  doc/requirements.txt
Due: ara-tox-docs

docs: refresh getting started docs
  doc/changelog-release-notes.sh
  doc/source/changelog-release-notes.rst
  doc/source/contributing.rst
  doc/source/getting-started.rst
  doc/source/troubleshooting.rst
Due: ara-tox-docs

docs: update FAQs mentions of ara-web, ara-collection
  doc/source/conf.py
  doc/source/faq.rst
Due: ara-tox-docs

Catch SIGINT and SIGTERM (#556)
  ara/plugins/callback/ara_default.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

zuul: Update versions of ansible and ansible-core tested
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tests: workaround behavior change in ansible-core 2.17 for files
  tests/integration/ignored_files.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

callback: use expired status when playbooks are interrupted
  ara/plugins/callback/ara_default.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ui: update bootstrap from 5.3.0 to 5.3.3
  ara/ui/static/README.rst
  ara/ui/static/css/bootstrap.min.css
  ara/ui/static/js/bootstrap.bundle.min.js
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

client: allow using utf-8 usernames and passwords
  ara/clients/utils.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

lint: fix quoting
  ara/clients/utils.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

client: allow using utf-8 usernames and passwords (#567)
  ara/clients/utils.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: Update changelog to include 1.7.2
  doc/source/changelog-release-notes.rst
Due: ara-tox-docs

WIP: Refactor display of host facts
  ara/ui/templates/partials/tables/host_facts.html
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: clarify troubleshooting performance with Django authentication
  doc/source/troubleshooting.rst
Due: ara-tox-docs

container-images: bump fedora images to fedora:40
  contrib/container-images/README.rst
  contrib/container-images/fedora-distribution.sh
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
  tests/with_container_images.yaml
  tests/zuul_publish_container_images.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Install tzdata when installing ara[server]
  setup.cfg
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

client: enable to ignore all facts
  ara/plugins/callback/ara_default.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora
