Repository ansible-community/ara: changes, and which Zuul jobs are due for each by the changed paths.
All: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ara-tox-docs:
  parent: base
  nodeset: ara-fedora-36
  run: tests/zuul_docs.yaml

ara-integration-base:
  parent: base
  vars:
    ara_api_source: '{{ ansible_user_dir }}/src/github.com/ansible-community/ara'
    ara_tests_ansible_name: '{{ ansible_user_dir }}/src/github.com/ansible/ansible'
    ara_tests_ansible_version: null
    ara_api_secure_logging: false
  post-run: tests/zuul_post_logs.yaml

ara-container-images:
  parent: ara-integration-base
  nodeset: ara-fedora-36
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    '
  run: tests/with_container_images.yaml

ara-container-images-dockerhub:
  parent: ara-integration-base
  nodeset: ara-fedora-36
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    The resulting images are pushed to docker.io/recordsansible/ara-api if successful.
  
    '
  pre-run: tests/with_container_images.yaml
  ...

ara-container-images-quayio:
  parent: ara-integration-base
  nodeset: ara-fedora-36
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    The resulting images are pushed to quay.io/recordsansible/ara-api if successful.
  
    '
  pre-run: tests/with_container_images.yaml
  ...

ara-ansible-integration-base:
  parent: ara-integration-base
  nodeset: ara-basic-nodeset
  vars:
    ara_api_source: '{{ ansible_user_dir }}/src/github.com/ansible-community/ara'
  run: tests/basic.yaml

ara-basic-ansible-core-devel:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core devel.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: devel

ara-basic-ansible-6:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible 6 (ansible-core 2.13).
  
    '
  vars:
    ara_tests_ansible_name: ansible
    ara_tests_ansible_version: 6.1.0

ara-basic-ansible-core-2.13:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core 2.13.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.13

ara-basic-ansible-core-2.12:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core 2.12.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.12

ara-basic-ansible-core-2.11:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core 2.11.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.11

client: enable to supply labels as inventory-vars
  ara/plugins/callback/ara_default.py
  doc/source/ansible-plugins-and-use-cases.rst
Due: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: enable to supply labels as inventory-vars - include unreachable/failed hosts
  ara/plugins/callback/ara_default.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

feat: Add ignored_results option
  ara/plugins/callback/ara_default.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

container-images: bump Fedora containers to 41
  contrib/container-images/README.rst
  contrib/container-images/fedora-distribution.sh
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
Due: none

container-image: suggest ara-api instead of api-server
  README.md
  contrib/container-images/README.rst
  tests/container_test_tasks.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ui: Add an auto-refresh feature
  ara/ui/static/css/ara.css
  ara/ui/static/js/auto-refresh.js
  ara/ui/templates/base.html
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Client: Enable to ignore all facts (#579)
  ara/plugins/callback/ara_default.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ignored_facts: Add a bit of docs and tests
  ara/plugins/callback/ara_default.py
  doc/source/ansible-plugins-and-use-cases.rst
  tests/basic.yaml
  tests/integration/facts.yaml
  tests/integration/ignored_facts.yaml
  tests/test_tasks.yaml
Due: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: Stop using deprecated get_html_theme_path
  doc/source/conf.py
Due: ara-tox-docs

zuul: bump CI nodes from fedora 39 to 41
  .zuul.d/jobs.yaml
  .zuul.d/nodesets.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

zuul: bump ansible to 11 and ansible-core to 2.18
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tests: don't check non-utf8 task content with >=2.18
  tests/integration/smoke.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

containers: publish new fedora41 tags
  tests/with_container_images.yaml
  tests/zuul_publish_container_images.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Add a new ara_label Ansible action plugin
  ara/plugins/action/ara_label.py
  doc/source/ansible-plugins-and-use-cases.rst
  tests/integration/roles/smoke-tests/tasks/ara-ops.yaml
Due: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ara cli to use ARA_BASE_PATH
  ara/cli/base.py
  ara/cli/expire.py
  ara/cli/host.py
  ara/cli/play.py
  ara/cli/playbook.py
  ara/cli/record.py
  ara/cli/result.py
  ara/cli/task.py
  ara/clients/http.py
  ara/clients/utils.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ui: Fix clicking on playbook hosts links returning 0 results (#605)
  ara/ui/templates/partials/tables/playbooks.html
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

container-images: Include libpq-devel for fedora
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
Due: none

client: Consider that username and password may be empty
  ara/clients/utils.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

CI: Migrate jobs from GitHub/Zuul to Forgejo actions
  .forgejo/playbooks/create-ci-vm.yml
  .forgejo/playbooks/delete-ci-vm.yml
  .forgejo/playbooks/roles/create_vm/defaults/main.yml
  .forgejo/playbooks/roles/create_vm/tasks/main.yml
  .forgejo/playbooks/test-container-images.yml
  .forgejo/playbooks/vars/Debian_12.yml
  .forgejo/playbooks/vars/Fedora_42.yml
  .forgejo/workflows/tests.yaml
  .zuul.d/jobs.yaml
  .zuul.d/nodesets.yaml
  .zuul.d/project.yaml
  .zuul.d/secrets.yaml
  contrib/container-images/fedora-ci-image.sh
  tests/basic.yaml
  tests/integration/roles/smoke-tests/tasks/ara-ops.yaml
  tests/with_container_images.yaml
  tests/zuul_post_logs.yaml
  tox.ini
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Misc & docs: s/github.com/codeberg.org/ and describe CI
  CONTRIBUTING.md
  README.md
  ara/api/migrations/0006_remove_result_statuses.py
  ara/api/migrations/0016_revert_play_label_name_length.py
  ara/cli/expire.py
  ara/plugins/action/ara_label.py
  ara/plugins/callback/ara_default.py
  ara/server/settings.py
  ara/ui/templates/base.html
  ara/ui/templates/partials/about_modal.html
  contrib/container-images/README.rst
  doc/changelog-release-notes.sh
  doc/source/api-configuration.rst
  doc/source/api-security.rst
  doc/source/changelog-release-notes.rst
  doc/source/contributing.rst
  doc/source/faq.rst
  doc/source/getting-started.rst
  doc/source/troubleshooting.rst
  setup.cfg
  tests/integration/ignored_files.yaml
  tests/integration/smoke.yaml
  tests/with_ansible-runner.py
Due: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

server: bump django to >=4.2,<5.3
  setup.cfg
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

requirements: tune tzdata/zoneinfo for py3.8 support
  setup.cfg
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

packaging: exclude .forgejo and .readthedocs.yaml
  MANIFEST.in
Due: none

docs: Add release notes for 1.7.3
  doc/source/changelog-release-notes.rst
Due: ara-tox-docs

misc: s/pull/pulls/ codeberg PR links
  ara/plugins/action/ara_label.py
  ara/server/settings.py
  tests/integration/ignored_files.yaml
  tests/integration/smoke.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: update readthedocs.io URLs to docs.ansible.com equivalents
  README.md
  doc/source/ansible-plugins-and-use-cases.rst
  doc/source/faq.rst
  tests/container_test_tasks.yaml
Due: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

UI: Refactor and improve display of host facts
  ara/ui/static/README.rst
  ara/ui/static/css/ara.css
  ara/ui/static/css/bootstrap-icons.min.css
  ara/ui/static/css/fonts/bootstrap-icons.woff2
  ara/ui/static/js/ara.js
  ara/ui/static/js/auto-refresh.js
  ara/ui/static/js/theme.js
  ara/ui/templates/base.html
  ara/ui/templates/partials/tables/host_facts.html
  ara/ui/templatetags/host_interface.py
  ara/ui/templatetags/number_utils.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

CI: bump to fedora-43 and debian-13
  .forgejo/playbooks/vars/Debian_13.yml
  .forgejo/playbooks/vars/Fedora_43.yml
  .forgejo/workflows/tests.yaml
  contrib/container-images/fedora-ci-image.sh
Due: none

tests: stringify object IDs for concatenation
  tests/integration/delegate_to.yaml
  tests/integration/free_strategy.yaml
  tests/integration/ignored_files.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tests: s/tasks/_tasks/ to avoid reserved keyword
  tests/integration/delegate_to.yaml
  tests/integration/lookups.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Path conditions:
  ara-tox-docs: any of: doc/*
  ara-integration-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images-dockerhub: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images-quayio: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-ansible-integration-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-devel: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-6: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.13: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.12: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.11: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-2.9: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ansible-role-ara-web-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-api-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
