Repository ansible-community/ara: changes, and which Zuul jobs are due for each by the changed paths.
All: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Path conditions:
  ara-tox-docs: any of: doc/*
  ara-integration-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images-dockerhub: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images-quayio: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-ansible-integration-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-devel: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-6: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.13: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.12: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.11: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-2.9: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ansible-role-ara-web-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-api-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt

Missing end of quote
  doc/source/ansible-plugins-and-use-cases.rst
Due: ara-tox-docs

readme: Add link to mastodon
  README.md
Due: none

Highlight diff output
  ara/ui/templatetags/pygments_highlights.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

fix indent and linter warnings
  ara/ui/templatetags/pygments_highlights.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Highlight diff output (#481)
  ara/ui/templatetags/pygments_highlights.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

WIP: contrib: A prometheus exporter for ara
  contrib/scripts/prometheus_exporter.py
Due: none

WIP: prometheus_exporter iteration 2
  contrib/scripts/prometheus_exporter.py
Due: none

WIP: prometheus_exporter iteration 3
  ara/cli/prometheus.py
  ara/cli/utils.py
  setup.cfg
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

WIP: prometheus_exporter iteration 4
  ara/cli/prometheus.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

WIP: prometheus_exporter iteration 5
  ara/cli/prometheus.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

WIP: prometheus_exporter iteration 6
  ara/cli/prometheus.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

WIP: prometheus_exporter iteration 7
  ara/cli/prometheus.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

WIP: prometheus_exporter iteration 8
  ara/cli/prometheus.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

WIP: prometheus_exporter iteration 9
  ara/cli/prometheus.py
  contrib/grafana/ara-dashboard.json
  doc/requirements.txt
  doc/source/_static/grafana-hosts.png
  doc/source/_static/grafana-playbooks.png
  doc/source/_static/grafana-tasks.png
  doc/source/cli.rst
  doc/source/contributing.rst
  doc/source/index.rst
  doc/source/prometheus.rst
  setup.cfg
Due: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Update versions, integration tests and container images
  .zuul.d/jobs.yaml
  .zuul.d/nodesets.yaml
  .zuul.d/project.yaml
  contrib/container-images/README.rst
  contrib/container-images/centos-pypi.sh
  contrib/container-images/fedora-distribution.sh
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
  tests/with_container_images.yaml
  tests/zuul_publish_container_images.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

tox: use allowlist_externals for linters
  tox.ini
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9

tests: make it easier to run with_container_images.yml locally
  tests/container_test_tasks.yaml
  tests/with_container_images.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

misc: cleanup roles directory
  .zuul.d/jobs.yaml
  roles/README.rst
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Allow manually defining user & hostname in callback plugin
  ara/plugins/callback/ara_default.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

maintenance: Bump version of django from 3.2LTS to 4.2LTS
  README.md
  setup.cfg
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: update links to use django 4.2
  doc/source/api-configuration.rst
Due: ara-tox-docs

callback: Make task content recording optional
  ara/plugins/callback/ara_default.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

django: ignore warning about static directory
  ara/server/settings.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

callback: add tests for ARA_RECORD_* settings
  tests/basic.yaml
  tests/integration/lookups.yaml
  tests/integration/record_settings.yaml
  tests/test_tasks.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

zuul: stop testing against ansible 2.9
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora
