Repository ansible-community/ara: changes, and which Zuul jobs are due for each by the changed paths.
All: ara-tox-docs, ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ara-tox-docs:
  parent: base
  nodeset: ara-fedora-36
  run: tests/zuul_docs.yaml

ara-integration-base:
  parent: base
  vars:
    ara_api_source: '{{ ansible_user_dir }}/src/github.com/ansible-community/ara'
    ara_tests_ansible_name: '{{ ansible_user_dir }}/src/github.com/ansible/ansible'
    ara_tests_ansible_version: null
    ara_api_secure_logging: false
  post-run: tests/zuul_post_logs.yaml

ara-container-images:
  parent: ara-integration-base
  nodeset: ara-fedora-36
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    '
  run: tests/with_container_images.yaml

ara-container-images-dockerhub:
  parent: ara-integration-base
  nodeset: ara-fedora-36
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    The resulting images are pushed to docker.io/recordsansible/ara-api if successful.
  
    '
  pre-run: tests/with_container_images.yaml
  ...

ara-container-images-quayio:
  parent: ara-integration-base
  nodeset: ara-fedora-36
  description: 'Builds ARA API container images with buildah and briefly tests them with podman.
  
    The resulting images are pushed to quay.io/recordsansible/ara-api if successful.
  
    '
  pre-run: tests/with_container_images.yaml
  ...

ara-ansible-integration-base:
  parent: ara-integration-base
  nodeset: ara-basic-nodeset
  vars:
    ara_api_source: '{{ ansible_user_dir }}/src/github.com/ansible-community/ara'
  run: tests/basic.yaml

ara-basic-ansible-core-devel:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core devel.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: devel

ara-basic-ansible-6:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible 6 (ansible-core 2.13).
  
    '
  vars:
    ara_tests_ansible_name: ansible
    ara_tests_ansible_version: 6.1.0

ara-basic-ansible-core-2.13:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core 2.13.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.13

ara-basic-ansible-core-2.12:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core 2.12.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.12

ara-basic-ansible-core-2.11:
  parent: ara-ansible-integration-base
  description: 'Runs basic integration tests through the equivalent of "tox -e ansible-integration" with ansible-core 2.11.
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: stable-2.11

zuul: bump version of ansible 8 to 8.3.0
  .zuul.d/jobs.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ui: move playbook labels onto their own row
  ara/ui/static/css/ara.css
  ara/ui/templates/partials/tables/playbooks.html
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ui: fix wrong form url for task search
  ara/ui/templates/partials/search/tasks.html
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

requirements: adjust django requirement to >=3.2,<4.3
  setup.cfg
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: bump version of django in docs/requirements.txt
  doc/requirements.txt
Due: ara-tox-docs

ui: Fix link to the API when browsing tasks
  ara/ui/templates/partials/api_link.html
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

python3 -m gunicorn instead of /usr/local/bin/gunicorn
  contrib/container-images/centos-pypi.sh
  contrib/container-images/centos-source.sh
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
Due: none

docs: Add release notes for 1.7.0
  doc/source/changelog-release-notes.rst
Due: ara-tox-docs

README: Include new video demo
  README.md
Due: none

README: clarify getting started
  README.md
Due: none

tests: don't use pkg_resources to determine version of ara
  ara/api/tests/tests_utils.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

maintenance: bump versions of ansible, fedora
  .zuul.d/jobs.yaml
  .zuul.d/nodesets.yaml
  .zuul.d/project.yaml
  contrib/container-images/README.rst
  contrib/container-images/fedora-distribution.sh
  contrib/container-images/fedora-pypi.sh
  contrib/container-images/fedora-source.sh
  tests/with_container_images.yaml
  tests/zuul_publish_container_images.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

settings: Use ruamel.yaml's non-deprecated version of .dump
  ara/server/settings.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

zuul: Temporarily disable container image publishing
  .zuul.d/project.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

docs: Update changelog for 1.7.1
  doc/source/changelog-release-notes.rst
Due: ara-tox-docs

zuul: Re-enable container publishing jobs
  .zuul.d/project.yaml
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ui: fix displaying result diffs with "prepared" key
  ara/ui/templatetags/diff_result.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Support AWS Fargate env key/value schema that only allows strings by supporting the ability to pass a comma-delimitted string e.g. "1,127.0.0.1,localhost"
  ara/server/settings.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

ui: Fix sorting playbook results by date and duration
  ara/ui/templates/partials/tables/playbook_results.html
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Docs: Add introduction, say what ARA does
  doc/source/index.rst
  doc/source/introduction.rst
Due: ara-tox-docs

support logging on Python 3.13 fixed #546
  ara/api/management/commands/prune.py
  ara/cli/host.py
  ara/cli/playbook.py
  ara/cli/record.py
  ara/cli/result.py
  ara/plugins/callback/ara_default.py
  ara/server/wsgi.py
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

setup.cfg: make ruamel.yaml dependency explicit
  setup.cfg
Due: ara-integration-base, ara-container-images, ara-container-images-dockerhub, ara-container-images-quayio, ara-ansible-integration-base, ara-basic-ansible-core-devel, ara-basic-ansible-6, ara-basic-ansible-core-2.13, ara-basic-ansible-core-2.12, ara-basic-ansible-core-2.11, ara-basic-ansible-2.9, ansible-role-ara-web-base, ansible-role-ara-web-ubuntu, ansible-role-ara-web-fedora, ansible-role-ara-api-base, ansible-role-ara-api-ubuntu, ansible-role-ara-api-fedora, ara-1.0-role-integration-base, ara-1.0-role-integration-ubuntu, ara-1.0-role-integration-fedora

Path conditions:
  ara-tox-docs: any of: doc/*
  ara-integration-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images-dockerhub: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-container-images-quayio: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-ansible-integration-base: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-devel: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-6: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.13: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.12: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-core-2.11: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ara-basic-ansible-2.9: any of: ara/*, manage.py, requirements.txt, roles/*, setup.cfg, setup.py, test-requirements.txt, tests/*, tox.ini, .zuul.d/*
  ansible-role-ara-web-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-web-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt, src/.*, public/.*, package.json, package-lock.json
  ansible-role-ara-api-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ansible-role-ara-api-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-base: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-ubuntu: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
  ara-1.0-role-integration-fedora: any of: ara/*, playbooks/*, roles/*, tests/*, .zuul.d/*, setup.py, setup.cfg, requirements.txt, test-requirements.txt
